<%- include('../includes/header') %>


          <div class="container my-4" style="min-height: 600px;">
            <div class="row">
                <div class="col-md-12">
                    <h2>About Page</h2>
                    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Sit ratione dicta totam, placeat provident culpa magnam nulla voluptatem dolores cumque sed corrupti tempore dolore, beatae veritatis distinctio excepturi quo! Voluptate. Lorem ipsum, dolor sit amet consectetur adipisicing elit. Reprehenderit incidunt illum sequi nihil. Minus accusamus tempore tempora nostrum at. Deleniti labore corporis accusantium fugiat quisquam, quia minus repudiandae quod dolore.</p>
                </div>
            </div>
          </div>
<%- include('../includes/footer') %>
          