<%- include('../includes/header') %>
<%- include('../includes/info') %>


          <div class="container my-4" style="min-height: 600px;">
            <div class="row">
                <div class="col-md-12">
                    <h2>Contact Page</h2>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquam at dolorum distinctio unde earum mollitia consectetur quasi libero doloremque fugiat, doloribus eveniet voluptatum sapiente odit culpa eos numquam. Obcaecati, quos? Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsum, voluptatibus harum pariatur sapiente iure neque ducimus vero veniam? Harum provident inventore corrupti a explicabo alias consequuntur est quas omnis repellat! Lorem ipsum dolor sit, amet consectetur adipisicing elit. Tempore perspiciatis aut in aspernatur vero obcaecati provident officiis. Quibusdam at nisi laudantium. Minima, porro odit! Animi quisquam explicabo numquam accusantium incidunt! Lorem ipsum dolor sit, amet consectetur adipisicing elit. Alias, iusto commodi exercitationem repellendus consequatur dicta praesentium, facere accusantium culpa aliquam nulla laboriosam aperiam id voluptas delectus porro iste ex perferendis.</p>
                </div>
            </div>
          </div>
<%- include('../includes/footer') %>
          