<%- include("../includes/header") %>

<div class="container" style="min-height: 600px;">
    <div class="row">
        <div class="col-md-6 offset-3">
            <form action="/account/save" method="post">
            <div class="card my-4">
                <div class="card-header bg-primary text-center"><h3 class="text-light">Enter Account Detail</h3></div>
                <div class="card-body">
                    <div class="my-3">
                    <label>User Name</label>
                    <input type="text" name="name" class="form-control" placeholder="Create User Name" />
                    </div>
                    <div class="my-3">
                    <label>Create Gmail</label>
                    <input type="email" name="gmail" class="form-control" placeholder="Create Your Gmail" />
                    </div>
                    <div class="my-3">
                    <label>Create Password</label>
                    <input type="text" name="password" class="form-control" placeholder="Create 8-Digit Password" />
                    </div>
                    <div class="my-3">
                    <label>Contact Number</label>
                    <input type="number" name="number" class="form-control" placeholder="Enter Your Number" />
                    </div>
                </div>
                <div class="card-footer">
                    <input type="submit" class="btn btn-outline-primary form-control"  value="CREATE ACCOUNT" />
                </div>
            </div>
            </form>
        </div>
    </div>
</div>

<%- include("../includes/testimonial") %>
<%- include("../includes/footer") %>