<%- include("../includes/blackheader") %>


<div class="container p-5" style="min-height: 600px;">
    <div class="row">
        <div class="col-md-8 offset-md-2">
            <table class="table table-info table-hover text-center">
                <tr>
                    <th><a href="/teacher" >ENTER TEACHER DATA</a></th>
                </tr>
                <tr>
                    <th><a href="/teacher/data/view/<%= teacher.id %>" >VIEW TEACHER DATA</a></th>
                </tr>
                <tr>
                    <th><a href="/teacher/data/update/<%= teacher.id %>" >UPDATE TEACHER DATA</a></th>
                </tr>
            </table>
        </div>
    </div>
</div>

<%- include("../includes/footer") %>

