<%- include("../includes/header") %>

<div class="container" style="min-height: 600px;">
    <div class="row">
        <div class="col-md-8 offset-md-2 p-3 mt-5 text-center">
            <div class="card bg-primary">
                <div class="card-header"><h3 class="text-light">Guess a number from 1 to 100</h3></div>
                <div class="card-body">
                    <p class="guess"></p>
                    <input class="text-center" type="number" />
                    <button class="btn btn-info">Check</button>
                </div>
                <div class="card-footer">
                    <p class="text-light">You have <span class="chances">10</span> chances</p>
                </div>
            </div>
        </div>
    </div>
</div>

<%- include("../includes/testimonial") %>
<%- include("../includes/footer") %>
