<%- include("../includes/header") %>

<div class="container" style="min-height: 600px;">
    <div class="row">
        <div class="col-md-6 my-4 offset-md-3">
            <% if( status != 'undefined' ){ %>
                <% if( status == 200 ){ %>
                        <div class=" alert alert-info text-center "><h4 style="display: inline;"><%= otp %></h4>
                            <button type="button" id="cls" class="btn-close" style="float: right;" data-bs-dismiss="alert"></button>
                        </div>
                <% } %>
            <% } %>
            <form action="/verification/otp" method="post">
            <div class="card bg-primary">
                <div class="card-header text-center"><h3 class="text-light">Verify Mobile Number</h3></div>
                <div class="card-body">
                    <!-- <div class="my-3 text-light">
                        <label>Enter Mobile Number</label>
                        <input type="number" name="number" placeholder="Enter Your Mobile Number" class="form-control" />
                    </div> -->
                    <div class="my-3 text-light">
                        <label>Enter OTP</label>
                        <input type="number" name="otp" placeholder="Enter Your 4-Digit OTP" class="form-control" />
                    </div>
                </div>
                <div class="card-footer text-center">
                    <input type="submit" value="VERIFY" class="btn btn-success" />
                </div>
            </div>
            </form>
        </div>
    </div>
</div>

<%- include("../includes/testimonial") %>
<%- include("../includes/footer") %>

<script>
    let clsBtn = document.getElementById("cls");
    setTimeout(() => {
    clsBtn.addEventListener('click', (event)=>{
            clsBtn.click();
        })
    }, 4000);
</script>