<%- include("../includes/header") %>

<div class="container" style="min-height: 600px;">
    <div class="row">
        <div class="col-md-6 my-4 offset-md-3">
            <form action="/verification/otp" method="post">
            <div class="card bg-primary">
                <div class="card-header text-center"><h3 class="text-light">Verify Mobile Number</h3><h4><%= response %></h4></div>
                <div class="card-body">
                    <!-- <div class="my-3 text-light">
                        <label>Enter Mobile Number</label>
                        <input type="number" name="number" placeholder="Enter Your Mobile Number" class="form-control" />
                    </div> -->
                    <div class="my-3 text-light">
                        <label>Enter OTP</label>
                        <input type="number" name="otp" placeholder="Enter Your 4-Digit OTP" class="form-control" />
                    </div>
                </div>
                <div class="card-footer text-center">
                    <input type="submit" value="VERIFY" class="btn btn-success" />
                </div>
            </div>
            </form>
        </div>
    </div>
</div>

<%- include("../includes/testimonial") %>
<%- include("../includes/footer") %>
