<%- include("../includes/header") %>

<div class="container" style="min-height: 600px;">
    <div class="row">
        <div class="col-md-6 my-4 offset-md-3">
            <form>
            <div class="card bg-primary">
                <div class="card-header text-center"><h3 class="text-light">Verify Mobile Number</h3></div>
                <div class="card-body">
                    <div class="my-3 text-light">
                        <label>Enter Mobile Number</label>
                        <input type="number" name="number" id="number" placeholder="Enter Your Mobile Number" class="form-control" />
                    </div>
                </div>
                <div class="card-footer text-center">
                    <a href="/verification/otp-verification" id="otp" class="btn btn-success">Get OTP</a>
                </div>
            </div>
            </form>
        </div>
    </div>
</div>

<%- include("../includes/testimonial") %>
<%- include("../includes/footer") %>
