<%- include('../include/header') %>

<div class="container" style="min-height: 600px;">
    <div class="row">
        <div class="col-md-12">
            <h1>About page</h1>
        </div>
    </div>
</div>

<%- include('../include/termination') %>

<%- include('../include/footer') %>