<%- include('../include/header') %>

<div class="container">
    <div class="row">
        <div class="co-md-12">
            <h1>About Page</h1>
        </div>
    </div>
</div>


<%- include('../include/termination') %> 

<%- include('../include/footer') %>