<%- include('../include/header') %>

<div class="container" style="min-height: 600px;">
    <div class="row">
        <div class="co-md-12">
            <h1>Join Us</h1>
            
        </div>
    </div>
</div>


<%- include('../include/termination') %> 

<%- include('../include/footer') %>