<%- include("../includes/header") %>

<div class="container">
    <span><a href="/info/employee"><i class="fa fa-user-circle-o fa-5x" aria-hidden="true"></i></a></span>
    <span ><a href="/info/add"><i class="fa fa-user-plus fa-5x" aria-hidden="true"></i></a></span>
    <span ><a><i class="fa fa-user-circle-o fa-5x" aria-hidden="true"></i></a></span>
   
</div>


<%- include("../includes/footer") %>