<%- include("../includes/header") %>


   <!-- header section end -->
   <!-- services section start -->
   <div class="services_section layout_padding">
      <div class="container">
         <h1 class="services_taital">Services </h1>
         <p class="services_text">There are many variations of passages of Lorem Ipsum available, but the majority have
            suffered alteration</p>
         <div class="services_section_2">
            <div class="row">
               <div class="col-md-4">
                  <div><img src="images/img-1.png" class="services_img"></div>
                  <div class="btn_main"><a href="#">Rafting</a></div>
               </div>
               <div class="col-md-4">
                  <div><img src="images/img-2.png" class="services_img"></div>
                  <div class="btn_main active"><a href="#">Hiking</a></div>
               </div>
               <div class="col-md-4">
                  <div><img src="images/img-3.png" class="services_img"></div>
                  <div class="btn_main"><a href="#">Camping</a></div>
               </div>
            </div>
         </div>
      </div>
   </div>
   <!-- services section end -->
   <!-- about section start -->
   <div class="about_section layout_padding">
      <div class="container-fluid">
         <div class="row">
            <div class="col-md-6">
               <div class="about_taital_main">
                  <h1 class="about_taital">About Us</h1>
                  <p class="about_text">There are many variations of passages of Lorem Ipsum available, but the majority
                     have suffered alteration in some form, by injected humour, or randomised words which don't look
                     even slightly believable. If you are going to use a passage of Lorem Ipsum, you need to be sure
                     there isn't anything embarrassing hidden in the middle of text. All </p>
                  <div class="readmore_bt"><a href="#">Read More</a></div>
               </div>
            </div>
            <div class="col-md-6 padding_right_0">
               <div><img src="images/about-img.png" class="about_img"></div>
            </div>
         </div>
      </div>
   </div>
   <!-- about section end -->
   <!-- blog section start -->
   <div class="blog_section layout_padding">
      <div class="container">
         <h1 class="blog_taital">See Our Video</h1>
         <p class="blog_text">many variations of passages of Lorem Ipsum available, but the majority have suffered
            alteration in some form, by injected humour, or randomised words which</p>
         <div class="play_icon_main">
            <div class="play_icon"><a href="#"><img src="images/play-icon.png"></a></div>
         </div>
      </div>
   </div>
   <!-- blog section end -->
   <!-- client section start -->
   <div class="client_section layout_padding">
      <div class="container">
         <h1 class="client_taital">Testimonial</h1>
         <div class="client_section_2">
            <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
               <ol class="carousel-indicators">
                  <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
                  <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
                  <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
               </ol>
               <div class="carousel-inner">
                  <div class="carousel-item active">
                     <div class="client_main">
                        <div class="box_left">
                           <p class="lorem_text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
                              tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud
                              exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure
                              dolor in reprehenderit in voluptate velit esse cillum dolore eu fugia</p>
                        </div>
                        <div class="box_right">
                           <div class="client_taital_left">
                              <div class="client_img"><img src="images/client-img.png"></div>
                              <div class="quick_icon"><img src="images/quick-icon.png"></div>
                           </div>
                           <div class="client_taital_right">
                              <h4 class="client_name">Dame</h4>
                              <p class="customer_text">Customer</p>
                           </div>
                        </div>
                     </div>
                  </div>
                  <div class="carousel-item">
                     <div class="client_main">
                        <div class="box_left">
                           <p class="lorem_text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
                              tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud
                              exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure
                              dolor in reprehenderit in voluptate velit esse cillum dolore eu fugia</p>
                        </div>
                        <div class="box_right">
                           <div class="client_taital_left">
                              <div class="client_img"><img src="images/client-img.png"></div>
                              <div class="quick_icon"><img src="images/quick-icon.png"></div>
                           </div>
                           <div class="client_taital_right">
                              <h4 class="client_name">Dame</h4>
                              <p class="customer_text">Customer</p>
                           </div>
                        </div>
                     </div>
                  </div>
                  <div class="carousel-item">
                     <div class="client_main">
                        <div class="box_left">
                           <p class="lorem_text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
                              tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud
                              exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure
                              dolor in reprehenderit in voluptate velit esse cillum dolore eu fugia</p>
                        </div>
                        <div class="box_right">
                           <div class="client_taital_left">
                              <div class="client_img"><img src="images/client-img.png"></div>
                              <div class="quick_icon"><img src="images/quick-icon.png"></div>
                           </div>
                           <div class="client_taital_right">
                              <h4 class="client_name">Dame</h4>
                              <p class="customer_text">Customer</p>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </div>
   <!-- client section start -->
   <!-- choose section start -->
   <%- include("../includes/footer") %>