<%- include("../includes/header") %>

<div class="container" style="min-height: 600px;">
<div class="row">
    <div class="col-md-12">
        <h2>services page</h2>
    </div>
</div>

</div>




<%- include("../includes/footer") %>