<%- include('../includes/header') %>

<div class="container" style="min-height: 600px;">
    <div class="row">
        <div class="col-md-6 offset-md-3">
            <form action="/save" method="post">
            <div class="card my-5">
                <div class="card-header bg-dark">
                    <h3 class="text-light">Add New Student</h3>
                </div>
                <div class="card-body">
                    <div class="my-2">
                        <label class="mb-3">Full Name</label>
                        <input type="text" name="fullname" placeholder="Full Name" class="form-control" />
                    </div>
                    <div class="my-2">
                        <label class="mb-3">Email</label>
                        <input type="text" name="email" placeholder="Email Id" class="form-control" />
                    </div>
                    <div class="my-2">
                        <label class="mb-3">Contact</label>
                        <input type="text" name="contact" placeholder="Contact Number" class="form-control" />
                    </div>
                    <div class="my-2">
                        <label class="mb-3">Fee</label>
                        <input type="text" name="fee" placeholder="Fee" class="form-control" />
                    </div>
                    <div class="my-2">
                        <label class="mb-3">Gender</label>
                        <br />
                        <br />
                        Male <input type="radio" value="male" name="gender" />
                        Female <input type="radio" value="female" name="gender" />
                    </div>
                    <div class="my-2">
                        <label class="mb-3">Address</label>
                        <textarea class="form-control" name="address" ></textarea>
                    </div>
                    <div class="my-2">
                        <label class="mb-3">City</label>
                        <select class="form-control" name="city">
                            <option>Select</option>
                            <option>Indore</option>
                            <option>Mumbai</option>
                            <option>Pune</option>
                        </select>
                    </div>
                    <div class="my-2">
                        <label class="mb-3">Hobbies</label>
                        <br />
                        <br />
                        Cricket <input type="checkbox"  value="cricke" name="hobby" />
                        Football <input type="checkbox" value="football" name="hobby" />
                        Hockey <input type="checkbox" value="hockey" name="hobby" />
                    </div>
                </div>
                <div class="card-footer">
                    <input type="submit" value="Add" class="btn btn-success" />
                </div>
            </div>
            </form>
        </div>
    </div>
</div>

<%- include('../includes/footer') %>