<%- include("../includes/header.ejs") %>
<%- include("../includes/bgimg.ejs") %>
<div class="row">
    <div class="col-md-6 offset-md-3">
        <div class="my-3">
            <h2>menu edit page</h2>