<%- include('../includes/header') %>
<div class="container" style="min-height: 600px;">
    <h2>Add Page</h2>
    <form action="/patients/save" method="post">
    <div class="row">
        <div class="col-md-6 offset-md-3">
            <div class="my-3">
                <label for="">Name</label>
                <input name="name" type="text" class="form-control" />
            </div>
            <div class="my-3">
                <label for="">Age</label>
                <input type="text" name="age" class="form-control" />
            </div>
            <div class="my-3">
                <label for="">Address</label>
                <textarea name="address" class="form-control" ></textarea>
            </div>
            <br />
            <input type="submit" value="Add" class="btn btn-primary" />
        </div>
    </div>
    </form>

</div>
</body>
</html>