<%- include("../includes/header") %>

<div class="container my-5" style="min-height: 600px;">
    <div class="row">
        <div class="col-md-8 offset-md-2">
            <form action="/patients/add" method="post">
            <div class="card bg-primary">
                <div class="card-header text-center"><h3 class="text-light">ADD PATIENT DETAILS</h3></div>
                <div class="card-body">
                    <div class="my-3 text-light">
                        <label>Fullname</label>
                        <input type="text" class="form-control" placeholder="Enter Your Name" name="name" />
                    </div>
                    <div class="my-3 text-light">
                        <label>Contact</label>
                        <input type="number" class="form-control" placeholder="Enter Your Number" name="contact" />
                    </div>
                    <div class="my-3 text-light">
                        <label>Age</label>
                        <input type="number" class="form-control" placeholder="Enter Your Age" name="age" />
                    </div>
                    <div class="my-3 text-light">
                        <label>Gender</label>
                        <br />
                        Male : <input type="radio" value="male"  name="gender" />
                        Female : <input type="radio" value="female"  name="gender" />
                    </div>
                    <div class="my-3 text-light">
                        <label>Address</label>
                        <textarea name="address" class="form-control" placeholder="Enter Your Address"></textarea>
                    </div>
                </div>
                <div class="card-footer text-center">
                    <input type="submit" value="ADD PATIENT" class="btn form-control btn-outline-info" />
                </div>
            </div>
            </form>
        </div>
    </div>
</div>


<%- include("../includes/footer") %>