<!DOCTYPE html>
<html lang="en">
<head>
    <link type="text/css" rel="stylesheet" href="/css/bootstrap.css"/>
    
    <script src="/js/bootstrap.bundle.js"></script>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>crochet website</title>
</head>
<body>
    <!--Header image-->
    <div class="container-fluid" id="header-image">

        <div class="container-fluid">
            <div class="container">
                    <ul class="nav justify-content-end">
                        <li class="nav-item">
                            <a href="#" data-bs-target="#login-box" data-bs-toggle="modal" class="nav-link" id="nav-top-text">Login</a>
                        </li>

                        <li class="nav-item">
                            <a href="#" data-bs-target="#signup-box" data-bs-toggle="modal" class="nav-link">Signup</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>

        <!--Modal Login-->

        <div class="modal fade" id="login-box">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h3>Login</h3>
                    </div>

                        <div class="modal-body">
                            <div>
                                <label>Username</label>
                                <input type="text" placeholder="Type your username here" class="form-control"/> 
                            </div>

                            <div>
                                <label>Password</label>
                                <input type="password" placeholder="Create a strong password" class="form-control"/>
                            </div>
                        </div>

                        <div class="modal-footer">
                            <button class="btn btn-danger d-grid">Login</button>
                            <button class="btn btn-danger d-grid" data-bs-dismiss="modal">cancle</button>
                        </div>
                    </div>
            </div>
        </div>


        <!--Modal signup-->
        <div class="modal fade" id="signup">
            <div class="modal-dialog">
                <div class="modal-content">

                     <div class="modal-header">
                        <h3>Signup</h3>
                     </div>

                     <div class="modal-body">
                        <div>
                            <label></label>
                        </div>
                     </div>
                </div>
            </div>
        </div>


        <!--navbar-->
        <div class=" container navbar-expand-sm  sticky-top display-content-center">
            <ul class="nav" id="navbar">
                <li class="nav-item">
                    <a href="#" class="nav-link navbar-text">Home</a>
                </li>

                <li class="nav-item">
                    <a href="#" class="nav-link navbar-text">About</a>
                </li>

                <li class="nav-item">
                    <a href="#" class="nav-link navbar-text">Contact</a>
                </li>
                

                <li class="nav-item">
                    <a href="#" class="nav-link navbar-text">Cals</a>
                </li>

                <li class="nav-item">
                    <a href="#" class="nav-link navbar-text">Vlogs</a>
                </li>
               
               
            </ul>
        </div>
    </div>

    <div class="container-fluid">
        <div class="row">
            <div class="card">
            <div class="card-img-top col-md-3">
                <img src="images/fabric.jpg"  style="height : 250px;"/>
            </div>

            <div class= "col-md-3">
                <img src="images/fabric.jpg"  style="height : 250px;"/>
            </div>

            <div class="col-md-3">
                <img src="images/fabric.jpg"  style="height : 250px;"/>
            </div>
            
            <div class="col-md-3">
                <img src="images/fabric.jpg"  style="height : 250px;"/>
            </div>
        </div>
        </div>
    </div>
</body>
</html>