<html>
    <Head>
        <link type="text/css" rel="stylesheet" href="/css/bootstrap.css" />
        <script src="/js/bootstrap.bundle.js"></script>
    </Head>
    <body>
        <nav class="navbar navbar-expand-sm bg-dark navbar-dark">
            <div class="container-fluid">
              <a class="navbar-brand" href="#">Logo</a>
              <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#collapsibleNavbar">
                <span class="navbar-toggler-icon"></span>
              </button>
              <div class="collapse navbar-collapse" id="collapsibleNavbar">
                <ul class="navbar-nav">
                  <li class="nav-item">
                    <a class="nav-link" href="/">Home</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="/patients">List</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="/patients/add">Add</a>
                  </li>
                </ul>
              </div>
            </div>
          </nav>
    