<%- include("../includes/header") %>

<form action="/student/save" method="post">
    <div class="container" id="header">
    <div class="row" >
    <div class="col-md-6 offset-md-3" >
            
                <div class="row">
                    <div class="container col-md-6 offset-md-3">
                        <div class="my-3">
                            <label for="">Name</label>
                            <input name="name" type="text" class="form-controll"/>
                        </div>
                        <div class="my-3">
                            <label for="">Address</label>
                            <textarea name="address"></textarea>
                        </div>
                        <div class="my-3">
                            <label for="">Fees</label>
                            <input name="fee" type="number" class="form-controll"/>
                        </div>
                        <br>
                        <input type="submit" value="add" class="btn btn-primary">
                    </div>
                </div>
            </div>
    </form>    

    <%- include("../includes/footer") %>