<%- include("../includes/header") %>
<div class="container" style="min-height: 600px;">
    <div class="row">
        <div class="col-md-12">
            <%
                var a = true;
                if(a == true)
                { %>
                    <h1>Indore</h1>
                <% }
            %>
        </div>
    </div>
</div>
<%- include("../includes/footer") %>