<html>
    <head>
        <link type="text/css" href="/css/bootstrap.css" rel="stylesheet" />
        <script src="/js/bootstrap.bundle.js"></script>
    </head>
    <body>
        <nav class="navbar navbar-expand-sm bg-dark navbar-dark">
            <div class="container-fluid">
              <a class="navbar-brand" href="#">My Website</a>
              <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#collapsibleNavbar">
                <span class="navbar-toggler-icon"></span>
              </button>
              <div class="collapse navbar-collapse" id="collapsibleNavbar">
                <ul class="navbar-nav">
                  <li class="nav-item">
                    <a class="nav-link" href="/">Home</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="/about">About</a>
                  </li>
                  
                </ul>
              </div>
            </div>
          </nav>
        <h1>Home Page</h1>


        <h2> <%= z %> </h2>

        <h3>Welcome : <%= y %></h3>

        <button class="btn btn-primary">Inbox <span class="badge bg-danger rounded-pill text-light"><%= totalMail %></span></button>


        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Facilis, a aperiam. Facere reprehenderit, ducimus autem quaerat nulla reiciendis, ad et ipsum deleniti eveniet culpa laboriosam maiores. Cum officiis ratione est?</p>
    </body>
</html>